#left-bottom {
	border:0px;padding:3px; PADDING:0px; width:150px; height:560px; LINE-HEIGHT: 20px; OVERFLOW-y: auto; 
}
#left-all {
	float: left;
	width:150px;
	margin-top: 60px;
}

#div1 {width:488px;height:70px;padding:10px;border:1px solid #aaaaaa;}
#center {
	height: 600px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 60px;
	margin-right: 10px;
	width: 100% - 300px;
	float: left;
}
#right {
	margin-top: 50px;
	width: 200px;
	float: right;
}

#right-all {
	float: left;
	width:200px;
	margin-top: 10px;
}

#right-bottom {
	border:0px;padding:3px; PADDING:0px; width:200px; height:560px; LINE-HEIGHT: 20px; OVERFLOW-y: auto; 
}

.m_top {
	width: 321px;
	height: 70px;
}

.m_center {
	width: 321px;
	height: 453px;
}
.m_center_center {
	width: 257px;
	height: 453px;
	float: left;
}
.m_center_border {
	height: 453px;
	width: 32px;
	float: left;
}
.m_bottom {
	width: 321px;
	height: 77px
}
.toolsImg {
	width:20px;
	height: 20px;
	float:right;
	marginBottom:10px; 
}

